alias brochure="cd ~/brochure && . ./env/bin/activate"
alias hs="cd ~/handshake && . .venv/bin/activate && . djserver/env/node/bin/activate"
alias frontend="hs && cd djserver/frontend"
alias marketing="cd ~/marketing"
alias run="./manage.py runserver"
alias ls="ls -G"
alias v="vagrant"
alias lsd="ls -dl */"
alias diff="diff -y --suppress-common-lines"
