alias dia="cd ~/diaco"
alias ls="ls -G"
alias lsd="ls -dl */"
alias diff="diff -y --suppress-common-lines"
alias proddbmetabase="PGPASSFILE=~/.pgpass psql -w -U diaco_query -d diaco -h adhoc-metabase.db.dia-internal.com"
alias proddb="PGPASSFILE=~/.pgpass psql --host=production-readonly.db.dia-internal.com --username=diaco --dbname=diaco"
alias stagingdb="PGPASSFILE=~/.pgpass psql -w -U diaco -d staging -h staging-dia-com-db.dia-internal.com"
alias devdb="cd ~/diaco && psql diaco_development"
alias compile_test_assets="cd ~/diaco && RAILS_ENV=test NODE_ENV=development bundle exec rails assets:precompile"
alias migrate="bin/rails db:migrate RAILS_ENV=development"
alias python="python3.8"
alias pip="pip3.8"
alias rake="noglob rake"
