[user]
    name = jc
    email = jcohen@dia.co
[branch]
    autosetuprebase = always
[push]
    default = current
[alias]
    feap = fetch --all --prune
    co = checkout
    st = status
    br = branch
    rc = rebase --continue
    lg = log --graph --pretty=format:'%C(yellow)%h%Creset  %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit -10
    ri = rebase -i
    fwl = push --force-with-lease
[rerere]
    enabled = true
[core]
    editor = /usr/bin/vim
  ignorecase= false
